[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
